/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-20-2018, 04:51:35 PM
    Author     : kevin Figueroa
*/

.datagrid table { 

    border-collapse: collapse; 

    text-align:left;
    width: 100%; 
}


.datagrid {
    font: normal 12px/150% Courier New, Courier, monospace; 
    background: #fff; 
    overflow: hidden; 
    border: 1px solid #991821; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; border-radius: 3px;
}

.datagrid table td, .datagrid table th { 
    padding: 19px 10px; 
}

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821),
        color-stop(1, #80141C) );
    background:-moz-linear-gradient( center top, #991821 5%, #80141C 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color:#991821; 
    color:#FFFFFF; font-size: 13px;
    font-weight: bold; border-left: 1px solid #B01C26;

} .datagrid table thead th:first-child {
    border: none; 
}

.datagrid table tbody td { color: #80141C; font-size: 13px;font-weight: normal; 

}.datagrid table tbody .alt td {
    background: #F7CDCD; color: #80141C; 
}
.datagrid table tbody td:first-child { 
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.encabezado{
    position: relative;
    margin: auto;
    border-color: #991821;
    width: 500px;
    font-family: sans-serif,fantasy;
    text-align: center;
    align-items: center;
    height: 90px;
    align-content: center;
    color: #FFFFFF;
    font-style: italic;
    font-size: 15px;
    background-color:#333333;
}

.bd{
    background: #999999;

}


.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    background-color: #80141C;
    border-radius: 2px;
    border: 2px solid #000000;
}
.boton:hover{
    color: #1883ba;
    background-color: #ffffff;
}

#panelito {
    width: 400px;
    background-color:#991821; 
    color: #ffffff;
    border-left: 12px;
    border-top-width: 10px;

}



