<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>guia08</title>  

        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body class="bd">

        <div class="encabezado">
            <h1>GF15006</h1>
            <h1>TipoEstadoReserva</h1>
        </div>
        
        <h:form id="frmRegistros">
            <div class="datagrid">
                <h:dataTable value="#{backing_bean.lista}" var="t" >
                    <h:column class="colum">
                        <f:facet name="header" class="_title">
                            Id
                        </f:facet>
                        <h:outputText   value="#{t.idTipoEstadoReserva}" />
                    </h:column>
                    <h:column >
                        <f:facet name="header" class="_title">
                            Nombre
                        </f:facet>
                        <h:outputText   value="#{t.nombre}" />
                    </h:column>
                    <h:column >
                        <f:facet name="header" class="_title">
                            Activo
                        </f:facet>
                        <h:outputText   value="#{t.activo?'ACTIVO':'INACTIVO'}" />
                    </h:column>
                    <h:column >
                        <f:facet name="header" class="_title" >
                            IndicaAprobación
                        </f:facet>
                        <h:outputText   value="#{t.indicaAprobacion?'ACTIVO':'INACTIVO'}" />
                    </h:column >
                    <h:column >
                        <f:facet name="header" class="_title">
                            Observaciones
                        </f:facet>
                        <h:outputText   value="#{t.observaciones}" />
                    </h:column>
                </h:dataTable>
            </div>
                    <h:messages/>
        </h:form>

        <h:form id="form">

            <h:panelGroup >
                <div id="panelito"> 
                     <h1>Crear un Nuevo Registro</h1>
                    <h:panelGrid  columns="2" >
                        <h:outputText value="Id"/> <h:inputText disabled="true" id="txtId" value="#{backing_bean.ter.idTipoEstadoReserva}" />
                        <h:outputText value="Nombre"/> <h:inputText id="Nombre" value="#{backing_bean.ter.nombre}"  required="true">
                          
                        </h:inputText>
                        <h:outputText value="Activo"/><h:selectBooleanCheckbox  value="#{backing_bean.ter.activo}"/>
                        <h:outputText value="IndicaAprobacion"/> <h:selectBooleanCheckbox value="#{backing_bean.ter.indicaAprobacion}"/>
                        <h:outputText value="Observaciones"/> <h:inputTextarea  id="txtObservaciones" value="#{backing_bean.ter.observaciones}"/>
                    </h:panelGrid> 
                </div>
               
            </h:panelGroup>

            <h:commandButton  value="Agregar" actionListener="#{backing_bean.crear()}" class="boton" >      
                <f:ajax onevent="click"  render=":frmRegistros" />  
            </h:commandButton>
         
        </h:form>

    </h:body>
</html>

